<div class=" my-4 ">

    <div class="d-flex flex-row ">

        <button class="mx-2 " type="button " class="ms-2 btn btn-success " (click)="abrirFormulario() ">Crear Programa</button>

    </div>

</div>

<div class="my-4 " *ngIf="openModalCrear " [formGroup]="formGroupPrograma">
    <h3>Formulario Programa Académico</h3>


    <div class="d-flex flex-row ">
        <div class="mb-3 me-3 ">
            <label for="exampleFormControlInput1 ">Nombre</label>
            <input type="text " class="form-control " id="exampleFormControlInput1 " formControlName="Nombre" placeholder="">
        </div>
        <div class="mb-3 me-3 ">
            <label for="exampleFormControlInput1 ">Fecha de Creación</label>
            <input type="text " class="form-control " id="exampleFormControlInput1 " formControlName="fechaCreacion" placeholder=" ">
        </div>
        <div class="mb-3 me-3 ">
            <label for="exampleFormControlInput1 ">Duración (Semestres)</label>
            <input type="email " class="form-control " id="exampleFormControlInput1 " formControlName="duracion" placeholder=" ">
        </div>
        <div class="mb-3 me-3 ">
            <label for="exampleFormControlInput1 ">Tipo</label>
            <input type="text " class="form-control " id="exampleFormControlInput1 " formControlName="tipo" placeholder=" ">
        </div>
        <div class="mb-3 me-3 ">
            <label for="exampleFormControlSelect1 ">Créditos</label>
            <input type="text " class="form-control " id="exampleFormControlInput1 " formControlName="creditos" placeholder=" ">
        </div>
        <br>
        <button *ngIf="modoFormulario == 'adicion'" class="mx-2 cls-boton-guardar ms-2 btn btn-success " type="button" (click)="crearPrograma()">Guardar</button>

        <button *ngIf="modoFormulario == 'edicion'" class="mx-2 cls-boton-guardar ms-2 btn btn-success " type="button" (click)="editarPrograma()">Guardar</button>

        <button *ngIf="modoFormulario =='edicion'" class="mx-2 cls-boton-guardar ms-2 btn btn-warning " type="button" (click)="cambiarModoAdicion()">Cancelar</button>


    </div>




</div>


<div>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="display:none" scope="col ">ID</th>
                <th scope="col ">Nombre</th>
                <th scope="col ">Fecha de Creacion</th>
                <th scope="col ">Duración (Semestres)</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Creditos</th>
                <th scope="col ">Acción</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let programa of listaProgramas ">
                <th style="display:none" scope="row ">{{programa.id}}</th>
                <td>{{programa.Nombre}}</td>
                <td>{{programa.fechaCreacion}}</td>
                <td>{{programa.duracion}}</td>
                <td>{{programa.tipo}}</td>
                <td>{{programa.creditos}}</td>
                <td>
                    <button class="mx-2 ms-2 btn btn-warning " type="button" (click)="entrarModoEdicion(programa)">Editar</button>
                    <button class="mx-2 ms-2 btn btn-danger " type="button" (click)="eliminarPrograma(programa.id)">Eliminar</button>
                </td>

        </tbody>
    </table>
</div>



<ng-template #templateNoAutorized>

    <h1>No estás autorizado</h1>

</ng-template>