<header class="cls-header px-10">

    <nav class="navbar navbar-dark bg-primary px-20">
        <!-- Navbar content -->
        <div class="d-flex flex-row">

            <h4 class="mt-2 ms-5" align="center">Universidad Libre</h4>
            <img src="https://www.gifss.com/celebraciones/graduacion/images/graduacion-12.gif" alt="" width="44" height="44" class="rounded-circle me-2 ms-2">


        </div>

        <div class="d-flex flex-row">

            <button *ngIf=" servicioBackend.isAutenticate && servicioSideBar.rutaActual != 'login'" type="button" class="ms-2 btn btn-light" (click)="cerrarSesion()">Cerrar sesión</button>
            <button *ngIf=" servicioBackend.isAutenticate" type="button" class="ms-2 btn btn-light" (click)="cerrarSesion()"></button>
            <button *ngIf=" !servicioBackend.isAutenticate && servicioSideBar.rutaActual != 'registro-de-usuario'" type="button" class="ms-5 btn btn-light" routerLink="/registro-de-usuario"> Registro de Estudiante</button>
            <button *ngIf=" !servicioBackend.isAutenticate && servicioSideBar.rutaActual != 'programas-en-oferta'" type="button" class="ms-5 btn btn-light" routerLink="/programas-en-oferta"> Programas en Oferta</button>
            <button *ngIf=" !servicioBackend.isAutenticate && servicioSideBar.rutaActual != 'login'" type="button" class="ms-5 btn btn-light" routerLink="/login">Login</button>
            <button *ngIf=" !servicioBackend.isAutenticate" type="button" class="ms-5 btn btn-light" routerLink="/login">      </button>


        </div>

    </nav>

</header>

<div class="d-flex flex-row" id="id-login" style="overflow: hidden; height: calc(100vh - 110px);">


    <div *ngIf="servicioBackend.isAutenticate  && servicioSideBar.rutaActual != 'login'" class="cls-siderbar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use/></svg>
            <span class="fs-4" align="center">Menú</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item cls-item mb-2" routerLink="/admin-usuarios">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='admin-usuarios'}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Gestión de Usuarios
                </a>
            </li>
            <li class="nav-item cls-item mb-2" routerLink="/admin-programas">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='admin-programas'}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Gestión de Programas
                </a>
            </li>
            <li class="nav-item cls-item mb-2" routerLink="/admin-asignaturas">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='admin-asignaturas'}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Gestión de Asignaturas
                </a>
            </li>
            <li class="nav-item cls-item mb-2" routerLink="/grupos">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='grupos'}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Gestión de Grupos
                </a>
            </li>
            <li class="nav-item cls-item mb-2" routerLink="/usuarios-por-grupo">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='usuarios-por-grupo'}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Usuarios por Grupo
                </a>
            </li>
            <li class="nav-item cls-item mb-2" routerLink="/programas-en-oferta">
                <a class="nav-link text-white" [ngClass]="{'active' : servicioSideBar.rutaActual=='programas-en-oferta'}">
                    <svg class="bi me-2" width="16" height="16"><use/></svg> Programas en Oferta
                </a>
            </li>

        </ul>
        <hr>
        <div class="dropdown">
            <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://media.giphy.com/media/12YpJx9jXOiKk/giphy.gif" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Universidad Libre</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="px-5 py-3 cls-body">

        <router-outlet></router-outlet>

    </div>





</div>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 cls-footer" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">Universidad Libre</a>
    </div>
    <!-- Copyright -->
</footer>