<div>

    <div [formGroup]="formRegister">

        <div class="mrg">
            <img src="/assets/images/login-bg.jpg" alt="" class="cls-image-bg">

            <div class="container  mrg">

                <h1 align="center">{{ titulo}} </h1>

                <div class="mrg2">
                    <div class="d-flex flex-row">

                    </div>
                    <label>Nombres</label>
                    <input formControlName="nombres" type="text" class="form-control" placeholder="Ingrese su Nombre completo" id="nombres" required>
                    <label>Apellidos</label>
                    <input formControlName="apellidos" type="text" class="form-control" placeholder="Ingrese sus apellidos" id="apellidos" required>
                    <label> Correo Electrónico</label>
                    <input formControlName="correo" type="email" class="form-control" placeholder="Ingrese su Email" id="email" required>
                    <label>Contraseña</label>
                    <input formControlName="contrasenia" type="password" class="form-control" placeholder="Ingrese su contraseña" id="password" required>
                    <br>
                    <input class="ms-2" type="checkbox" checked="checked">Aceptar términos y condiciones
                    <br>

                    <button class="btnen" align="center" style="width:160% align=center" [disabled]="!formRegister.valid" (click)="register()">Registrarse</button>
                    <br>

                    <a style="width:160% align=center" routerLink="/login">Ya estás registrado? Ingresa</a>

                </div>






            </div>



        </div>



    </div>




</div>